<h1 class="p-3 m-2"><b>My tasks</b></h1>
<ul><% @tasks.each do |task| %>
  <h3><%= link_to task.title, task_path(task) %></h3>
<% end %></ul>

<p class="p-3"><%= link_to "+ Add a new task", new_task_path %></p>
